{% extends 'artistic/base.html' %}
{% load static%}
{% block content %}
<!-- overview gallrey start-->
<div class="container content center p-5 " >
    <h2 class="wide text-center pt-4 text-light fs-2">Why Inspiration Matters?</h2>
    <br>
    <p class="justify text-center text-light fs-3">Inspiration awakens us to new possibilities by allowing us to transcend our ordinary experiences and limitations. Inspiration propels a person from apathy to possibility, and transforms the way we perceive our own capabilities.</p>
    <br>
    
</div>
<!-- overview gallrey End-->
<!-- Filter start -->
<div class="container mt-5">
    <ul class="nav justify-content-center border-bottom ">
        <li class="nav-item">
          <a class="nav-link active text-light fs-4" aria-current="page" href="#">Architectural
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fs-4" href="#">Digital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fs-4" href="#">Painting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light fs-4" href="#">Crafts</a>
          </li>
        
      </ul>
  </div>
<!-- Filter End -->

<!-- Gallery start-->
<div class="container content center p-5" >
<div class="lightbox">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
          alt="Table Full of Spices"
          class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
        />
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
          alt="Coconut with Strawberries"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
      <div class="col-lg-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
          alt="Dark Roast Iced Coffee"
          class="w-100 shadow-1-strong rounded"
        />
      </div>
    </div>
  </div>
</div>
<!-- Gallery End-->
{% endblock %}