{% extends 'artistic/base.html' %}
{% load static%}
{% block details %}
<style>
.yellowContent {
    color: #ffffff;
    background:#ffffff10;
    backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);
}

/* btns styling */
.buttonStyle {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #a5b9b9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.button:hover {background-color: #718989}

.button:active {
  background-color: #a5b9b9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<section class="vh-100 bg-image"
  style="background-image: url('https://images.unsplash.com/photo-1545518514-ce8448f542b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');">
  <div class="mask d-flex align-items-end h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-end align-items-center h-100 pt-4">
        <div class="col-6 col-md-9 col-lg-7 col-xl-6">
          <h2 class="yellowContent text-uppercase text-center mb-5" >The first community for people who enjoys art</h2>
        </div>
        <div class="col-6 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="first_name" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="username" id="form3Example1cg" class="form-control form-control-lg" name="username" />
                  <label class="form-label" for="form3Example1cg">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="email" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg"name="password" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>
                <label class="form-label fs-6" for="form3Example4cg">Are you an Artist?</label>
                <div class="form-check">
                  
                  <input class="form-check-input" type="radio" name="is_artist" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Yes
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="is_artist" id="flexRadioDefault2"  checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                   No
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"class="buttonStyle button col-6 mx-auto" role="button">Register</button>
                </div>

                

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{%url 'accounts:login'%}"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
